<el-card class="box-card">
	<!-- 面包屑 -->
	<el-breadcrumb separator-class="el-icon-arrow-right">
			<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item>用户管理</el-breadcrumb-item>
			<el-breadcrumb-item>用户列表</el-breadcrumb-item>
	</el-breadcrumb>

	<!-- 搜索区域 -->
	<el-row class="searchArea">
		<el-col :span="24">
			<el-input placeholder="请输入内容" v-model="searchUse" clearable class="searchInput">
				<el-button slot="append" @click="handleSearch" icon="el-icon-search"></el-button>
			</el-input>
			<el-button type="success" @click="addUserDialogVisible = true" plain>添加用户</el-button>
		</el-col>
	</el-row>

	<!-- 表格 -->
	<el-table
		v-loading="loading"
		:data="list"
		stripe
		border
		style="width: 100%">
		<el-table-column
		type="index"
		width="50">
		</el-table-column>
		<el-table-column
					prop="username"
					label="姓名"
					width="180">
		</el-table-column>
		<el-table-column
				prop="email"
				label="邮箱"
				width="180">
		</el-table-column>
		<el-table-column
				prop="mobile"
				label="电话">
		</el-table-column>
		<el-table-column
			label="创建日期">
			<template slot-scope="scope">
				{{ scope.row.create_time | fmData('YYYY-MM-DD') }}
			</template>
		</el-table-column>
		<el-table-column label="用户状态" width="100" prop="mg_state">
			<template slot-scope="scope">
				<!-- scope.row 就是当前行绑定数据对象 -->
				<el-switch
          @change="handleUserStatus(scope.row)"
					v-model="scope.row.mg_state"
					active-color="#13ce66"
					inactive-color="#ff4949">
				</el-switch>
			</template>
		</el-table-column>
		<el-table-column label="操作">
			<template slot-scope="scope">
				<el-button type="primary" icon="el-icon-edit" size="mini" @click="handleShowEditDialog(scope.row)" plain></el-button>
				<el-button type="danger" icon="el-icon-delete" size="mini" @click="handleDelete(scope.row)" plain></el-button>
				<el-button type="success" icon="el-icon-check" size="mini" @click="handleShowSetRoleDialog(scope.row)" plain></el-button>
			</template>
		</el-table-column>
	</el-table>

	<!-- 分页板块 -->
	<el-pagination
		@size-change="handleSizeChange"
		@current-change="handleCurrentChange"
		:current-page="pagenum"
		:page-sizes="[2, 4, 6, 8]"
		:page-size="pagesize"
		layout="total, sizes, prev, pager, next, jumper"
		:total=total>
  </el-pagination>

  <!-- 添加用户弹出框 -->
  <el-dialog @closed="handleClosed" title="添加用户" :visible.sync="addUserDialogVisible">
    <el-form :model="formData" label-width="100px" :rules="formRules" ref="myform">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="formData.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="formData.password" type="password" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="formData.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="formData.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addUserDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAdd">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 编辑用户弹出框 -->
  <el-dialog @closed="handleClosed" title="编辑用户" :visible.sync="editUserDialogVisible">
    <el-form :model="formData" label-width="100px" :rules="formRules" ref="myform">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="formData.username" disabled auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="formData.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="formData.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editUserDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEdit">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 分配用户角色的弹出框 -->
  <el-dialog title="分配角色" :visible.sync="setRoleDialogVisible">
    <el-form label-width="100px">
      <el-form-item label="用户名" prop="">
        {{ currentUserName }}
      </el-form-item>
      <el-form-item label="角色">
        <el-select v-model="currentRoleId">
          <el-option disabled label="请选择" :value="-1"></el-option>
          <el-option v-for="item in roles" :key="item.id" :label="item.roleName" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="setRoleDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleSetRole">确 定</el-button>
    </div>
  </el-dialog>

</el-card>